<% provide(:title, 'Bandname') %>
	<div class="row">
		<div class="large-12 columns">
			<h2>Band names!</h2>
			<p>Like you've never said "That'd be a great name for a band..."</p>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="large-8 columns">
			<h3>You found a website!</h3>

			<!-- Grid Example -->
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p>Well hello there, and welcome. This is my website, and its crappy home page. I'm gonna put stuff here, I swear, but for now you get this.</p>
						<p>I used to be pretty OK at building websites, but it's been such a long time, and I wanted to see what was new "for myself". So, this is a <a href="http://foundation.zurb.com/">Foundation</a>-based website, and I'm going to play around with it and try to get a feel for more current web development.</p>
						<p>I work a lot too, so this will probably go slowly. And, I'm also trying to do some <a href="http://www.shivaharris.com/blog">blogging</a> (barf, hate that "word"), well, because I want to learn more about that too. This will probably be mostly interesting to just me, but... in case you are a creep and are... stalking... me, (or Lenny... or Carl...), here's my crappy homepage.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<div class="panel">
						<h4><a href="#">Band Name</a></h4>
						<p>A simple project to create a list of band names that can be updated via the website. I can enter in a band name as it pops in my head, and it'll get added to the list.<p>
					</div>
				</div>
				<div class="large-6 columns">
					<div class="panel">
						<h4><a href="#">Portfolio</a></h4>
						<p>No, seriously. I used to do a little, tiny bit of web design / development. Here are a few examples I'm less ... embarassed... of. ;)<p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<div class="panel">
						<h4><a href="http://www.shivaharris.com/blog">Blog</a></h4>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<h4><a href="/resume">Resume</a></h4>
						<p>This is where I'd put my resume, or a link to my resume. Just as soon as it's ready.... <p>

					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<h4>Find me?</h4>
						<p>Maybe put some icons here for social networks?<p>

					</div>
				</div>
			</div>
		</div>

		<div class="large-4 columns">
			<h4>Quote of the [time_period]</h4>
			<p>"I have lived in the pursuit of a vision, both personal and social. Personal: to care for what is noble, for what is beautiful, for what is gentle; to allow moments of insight to give wisdom at more mundane times. Social: to see in imagination the society that is to be created, where individuals grow freely, and where hate and greed and envy die because there is nothing to nourish them. These things I believe, and the world, for all its horrors, has left me unshaken." - Bertrand Russell</p>

			<h4>Other Resources</h4>
			<p>If you don't get a lot of the humor I use, check out some of these sites:</p>
			<ul class="disc">
				<li><a href="www.snpp.com/‎">Simpsons</a><br />Everything you need to know about the Simpsons.</li>
				<li><a href="www.thedailyshow.com/‎">Daily Show</a><br />Jon Stewart & the rest of the DS crew. One of the better shows on TV for years and years and years.</li>
				<li><a href="#">My Life</a><br />This, in itself, is a joke. Please bear with me.</li>
			</ul>
		</div>
	</div>
