<% provide(:title, 'Resume') %>
	<div class="row">
		<div class="large-12 columns">
			<h2>My work.</h2>
			<p>A brief history.</p>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="large-8 columns">
			<h3>Here are some of the things I'm proud of!</h3>

			<!-- Grid Example -->
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p>Mostly, I am a Product Manager at Williams-Sonoma, Inc.</p>
						<p>In the past, I've done the following things.</p>
						<p>Here are some other things that interest me:</p>
						<ul class="push-2">
						<li>Thing 1</li>
						<li>Thing 2</li>
						<li>Thing 3</li>
						<ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<div class="panel">
						<h4><a href="/bandname">Band Name</a></h4>
						<p>A simple project to create a list of band names that can be updated via the website. I can enter in a band name as it pops in my head, and it'll get added to the list.<p>
					</div>
				</div>
				<div class="large-6 columns">
					<div class="panel">
						<h4><a href="#">Portfolio</a></h4>
						<p>No, seriously. I used to do a little, tiny bit of web design / development. Here are a few examples I'm less ... embarassed... of. ;)<p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<div class="panel">
						<h4><a href="http://www.shivaharris.com/blog">Blog</a></h4>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<h4><a href="/">Home</a></h4>
						<p>This is where I'd put my resume, or a link to my resume. Just as soon as it's ready.... <p>

					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<h4>Find me?</h4>
						<p>Maybe put some icons here for social networks?<p>

					</div>
				</div>
			</div>
		</div>

		<div class="large-4 columns">
			<h4>Something Interesting</h4>
				<p>I'll probably change this template out all-together, but for now, I just want to switch up the copy to make things unique.</p>
			<h4>Other Resources</h4>
			<p>A different, and slightly less interesting something or other will go here too. Or not! Depending on if I change the template out or not!</p>
			<ul class="disc">
				<li><a href="www.snpp.com/‎">Simpsons</a><br />Everything you need to know about the Simpsons.</li>
				<li><a href="www.thedailyshow.com/‎">Daily Show</a><br />Jon Stewart & the rest of the DS crew. One of the better shows on TV for years and years and years.</li>
				<li><a href="#">My Life</a><br />This, in itself, is a joke. Please bear with me.</li>
			</ul>
		</div>
	</div>
